@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800&&family=Inter:wght@500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: clamp(40%, 1% + 2vw, 62.5%);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
  display: grid;
  height: 100vh;
  place-content: center;
  font-family: 'poppins';
}