html.light {
    --text-color: hsl(var(--hue), 5%, 7%);
    --bg-color: hsl(var(--hue), 40%, 98%);
    --controls-bg-color: hsl(var(--hue), 0%, 14%);
}

html.light .ph-sun,
html:not(.light) .ph-moon {
    display: none;
}

#toggle-mode {
    position: absolute;
    right: 3.2rem;
    top: 3.2rem;
    font-size: 3.2rem;
    line-height: 0;
    color: var(--text-color);
}